{# Get user id from url for menu parameters #}

<nav class="navbar sub-menu kpi-menu">
    <div class="container">
        <ul class="nav navbar-nav col-xs-12">
            <li class="col-xs-3 text-center {% if app.request.attributes.get('_route') == 'app_kpi_week' %}active{% endif %}">
                <a href="{{ path('app_kpi_week', { 'user_actuel' : userId, 'user_id' : user_id } ) }}">
                    {{"Résultats"|trans}}<br /> {{"de la semaine"}}
                </a>
            </li>
            <li class="col-xs-3 text-center {% if app.request.attributes.get('_route') == 'app_kpi_month' %}active{% endif %}">
                <a href="{{ path('app_kpi_month', { 'user_actuel' :userId, 'user_id' : user_id } ) }}">
                    {{"Résultats"|trans}}<br /> {{"du mois"}}
                </a>
            </li>
            <li class="col-xs-3 text-center {% if app.request.attributes.get('_route') == 'app_kpi_trim' %}active{% endif %}">
                <a href="{{ path('app_kpi_trim', { 'user_actuel' : userId, 'user_id' : user_id } ) }}" class="one-line">
                    {{"Résultats"|trans}}<br /> {{"du trimestre"}}
                </a>
            </li>
            <li class="col-xs-3 text-center {% if app.request.attributes.get('_route') == 'app_kpi_ytd' %}active{% endif %}">
                <a href="{{ path('app_kpi_ytd', { 'user_actuel' : userId, 'user_id' : user_id } ) }}">
                    {{"Cumul"|trans}}<br /> {{" annuel"}}
                </a>
            </li>                  
        </ul>
        <ul class="nav navbar-nav col-xs-12">
            {% if user.brand != "ROYAL QUARTZ" %}
            <li class="col-xs-4 text-center {% if app.request.attributes.get('_route') == 'app_kpi_fid' %}active{% endif %}">
                <a href="{{ path('app_kpi_fid', { 'user_actuel' : userId, 'user_id' : user_id } ) }}" class="one-line">
                    {{"Fidélité"|trans}}
                </a>
            </li>
            <li class="col-xs-4 text-center {% if app.request.attributes.get('_route') == 'app_kpi_planning' %}active{% endif %}">
                <a href="{{ path('app_kpi_planning', { 'user_actuel' : userId, 'user_id' : user_id } ) }}" class="one-line">
                    {{"Campagnes"|trans}}
                </a>
            </li>
            {% endif %}
            {% if user.brand != "ROYAL QUARTZ" %}
            <li class="col-xs-4 text-center {% if app.request.attributes.get('_route') == 'app_kpi_satisfaction' %}active{% endif %}">
                <a href="{{ path('app_kpi_satisfaction', { 'user_actuel' : userId, 'user_id' : user_id } ) }}" class="one-line">
                    {{"Satisfaction"|trans}}
                </a>
            </li>
            {% endif %}
            <li class="col-xs-4 text-center {% if app.request.attributes.get('_route') == 'app_kpi_faq' %}active{% endif %}">
                <a href="{{ path('app_kpi_faq', { 'user_actuel' : userId, 'user_id' : user_id } ) }}" class="one-line">
                    {{"FAQ"|trans}}
                </a>
            </li>                  
        </ul>
    </div><!-- /.container-fluid -->
</nav>