{% extends "AppBundle::layout.html.twig" %}

{% block subheader %}
	{% include 'AppBundle:Commons:kpiNav.html.twig' %}
{% endblock %}

{% block content %}	

	{% block clientsFilter %}
		{% include 'AppBundle:Commons:kpiFilter.html.twig' %}
	{% endblock %}

	<div class="col-xs-12">
		<h2 class="text-uppercase gris-bg">Mes clients contactés par email</h2>

		<div class="col-xs-12 kpi-box">
			<div class="inside col-xs-12 col-md-7">
				&nbsp;<br />

				<figure class="col-xs-12 col-md-12" style="padding:0;">
					<h4 class="height text-center bg-white black">Clients contactables par email</h4>
					<div id="chartContainer1" style="height: 250px;"></div>
					<figcaption>
						<p class="small text-center">
							<i style="color: #44ccfe;" class="fa fa-square fa-lg" aria-hidden="true"></i> {{ "Inactifs email"|trans}}&nbsp;&nbsp;&nbsp;<i style="color: #256dcc;" class="fa fa-square fa-lg" aria-hidden="true"></i> {{ "Actifs email"|trans}}									
						</p>
					</figcaption>
				</figure>
			</div>

			<div class="inside col-xs-12 col-md-5 marge_top_75">
				<h4 class="text-uppercase black text-center">{{ "Le rapport Collecte / CA"|trans }}</h4>
				<h3 class="black text-center text-uppercase" style="line-height: 24px;">Depuis janvier,<br />
					vos clients contactés <br />
					par email ont généré<br />
					<span style="color: #16a085; font-size: 28px;line-height:34px;">{{ currentKpi.caCrmYtd|number_format(0, '.', ' ') }} €</span>
				</h3>
				
				<div class="spacer"></div>
				<div class="col-xs-12 text-center">
					<a href="{{ path('app_kpi_faq', { 'user_id' : userId } ) }}" class="small" style="color:#666; text-decoration:underline;">
			    		{{"Définitions et règles de calcul dans l'onglet FAQ"|trans}}
			    	</a>
				</div>
			</div>

			<div class="inside col-xs-12 bordered-top">
				<br />
				<figure class="col-xs-12 col-md-4 text-center" style="padding:0;">
					<h4 class="height text-center bg-white black" style="position:relative;">Clients contactés par email<br />sur le mois</h4>
					<i style="color: #FFD819; font-size: 11em;" class="fa fa-circle" aria-hidden="true"></i>		
					<div style="position:relative;color:white;font-weight:bold; font-size:20px; top:-105px;max-width: 140px; margin:0 auto;">
						{{ currentKpi.nbreClientsAnimesM0|number_format(0, '.', ' ') }}<br />clients
					</div>
				</figure>
				<figure class="col-xs-12 col-md-4 text-center" style="padding:0;">
					<h4 class="height text-center bg-white black" style="position:relative;">Clients contactés par email<br />ayant acheté sur le mois</h4>
					<i style="color: #16a085; font-size: 11em;" class="fa fa-circle" aria-hidden="true"></i>
					<div style="position:relative;color:white;font-weight:bold; font-size:20px; top:-105px;max-width: 140px; margin:0 auto;">
						{{ currentKpi.nbreClientsTransformesM0|number_format(0, '.', ' ') }}<br />clients
					</div>
				</figure>
				<figure class="col-xs-12 col-md-4 text-center" style="padding:0;">
					<h4 class="height text-center bg-white black" style="position:relative;">CA des clients contactés par email<br />ayant acheté sur le mois</h4>
					<i style="color: #E80C7A; font-size: 11em;" class="fa fa-circle" aria-hidden="true"></i>
					<div style="position:relative;color:white;font-weight:bold; font-size:20px; top:-105px;max-width: 140px; margin:0 auto;">
						{{ currentKpi.caClientsTransformesM0|number_format(0, '.', ' ') }} €<br />TTC
					</div>
				</figure>
			</div>
		</div>
	</div>
	<div class="spacer" style="margin-bottom:0px;"></div>

	{% if user.role != "ROLE_BOUTIQUE" %}
		<div class="col-xs-12">
			{% if user.role == "ROLE_MARQUE" %}
				<h2 class="text-uppercase gris-bg">Performance des DR du réseau {{user.username}}</h2>
			{% elseif user.role == "ROLE_DR" %}
				<h2 class="text-uppercase gris-bg">Performance des Boutiques du DR {{user.username}}</h2>
			{% elseif user.role == "ROLE_BOUTIQUE" %}
				<h2 class="text-uppercase gris-bg">Performance des Vendeurs de la Boutique {{user.username}}</h2>
			{% endif %}
			<div class="col-xs-12 kpi-box">
				<table class="table table-bordered table-hover" style="margin-bottom:0;">
					<thead>
						<tr>
							<th class="col-xs-2"></th>
							<th class="col-xs-2 text-center text-uppercase">Nombre de clients contactables par email</th>
							<th class="col-xs-2 text-center text-uppercase">Clients contactés par email sur le mois</th>
							<th class="col-xs-2 text-center text-uppercase">Clients contactés par email ayant acheté sur le mois</th>
							<th class="col-xs-2 text-center text-uppercase">CA des clients contactés par email ayant acheté sur le mois</th>
							<th class="col-xs-2 text-center text-uppercase">CA généré par les clients contactés par email depuis janvier</th>
						</tr>
					</thead>
					<tbody>
						<tr class="info">
							<th class="text-right text-uppercase" style="color: #3399FF">Résultats du réseau</th>
							<td class="text-center">{{marque.nbreClientsContactablesEmailH|number_format(0, ',', ' ') }}</td>
							<td class="text-center">{{ marque.nbreClientsAnimesM0|number_format(0, ',', ' ')}}</td>
							<td class="text-center">{{ marque.nbreClientsTransformesM0|number_format(0, ',', ' ')}}</td>
							<td class="text-center">{{ marque.caClientsTransformesM0|number_format(0, ',', ' ')}} €</td>
							<td class="text-center">{{ marque.caCrmYtd|number_format(0, ',', ' ')}} €</td>
						</tr>
						{% if user.role == "ROLE_MARQUE" %}
							{% for boutique in getDrsMarque %}
								{% if getDrsMarque is not null %}
									<tr>
										<th class="text-right text-uppercase">{{boutique.user.username}}</th>
										<td class="text-center">{{ boutique.nbreClientsContactablesEmailH|number_format(0, ',', ' ') }}</td>
										<td class="text-center">{{ boutique.nbreClientsAnimesM0|number_format(0, ',', ' ')}}</td>
										<td class="text-center">{{ boutique.nbreClientsTransformesM0|number_format(0, ',', ' ')}}</td>
										<td class="text-center">{{ boutique.caClientsTransformesM0|number_format(0, ',', ' ')}} €</td>
										<td class="text-center">{{ boutique.caCrmYtd|number_format(0, ',', ' ')}} €</td>
									</tr>
								{% endif %}
							{% endfor %}
						{% elseif user.role == "ROLE_DR" %}
							{% for boutique in getBoutiquesDr %}
								{% if getBoutiquesDr is not null %}
									<tr>
										<th class="text-right text-uppercase">{{boutique.user.username}}</th>
										<td class="text-center">{{ boutique.nbreClientsContactablesEmailH|number_format(0, ',', ' ') }}</td>
										<td class="text-center">{{ boutique.nbreClientsAnimesM0|number_format(0, ',', ' ')}}</td>
										<td class="text-center">{{ boutique.nbreClientsTransformesM0|number_format(0, ',', ' ')}}</td>
										<td class="text-center">{{ boutique.caClientsTransformesM0|number_format(0, ',', ' ')}} €</td>
										<td class="text-center">{{ boutique.caCrmYtd|number_format(0, ',', ' ')}} €</td>
									</tr>
								{% endif %}
							{% endfor %}
						{% endif %}
					</tbody>
				</table>
			</div>
		</div>
	{% endif %}



	<div class="spacer" style="margin-bottom:0px;"></div>

	<div class="col-xs-12">
		<h2 class="text-uppercase gris-bg">{{ "Le top Louis Pion du mois - Bravo !"|trans }}</h2>

		<div class="col-xs-12 kpi-box">
			<div class="inside">
			{% for top in kpisTopCa %}
				<div class="inside top col-xs-4 text-center">
					<h3 class="black">#{% if loop.index0 == 0 %}1{% endif %}{% if loop.index0 == 1 %}2{% endif %}{% if loop.index0 == 2 %}3{% endif %} CA</h3>
					<div class="dark-box">
						<h3>{{ deleteFirstCharacters(top.user.username,4)|upper }}</h3>
						<p class="small white">
							{{ top.caClientsTransformesM0|number_format(0, '.', ' ') }} &euro; générés sur le mois<br />
							(Taux de transactions avec email valide sur l'année : {{ top.txTransacNpeYtd|number_format(0, '.', ' ') }} %)
						</p>
					</div>
				</div>	
			{% endfor %}	
				<div style="height:0px;" class="spacer"></div>
			</div>	
		</div>
	</div>
	<div style="height:30px;" class="spacer"></div>
{% endblock %}


{% block canvasJs %}

	<script type="text/javascript">

	$(function(){

    	$(document).on('change', '#appbundle_kpi_filter_reseau', function() {
    		// Ici on réinitialise la page au niveau Marque au changement
    		//pour éviter le bug d'envoie de formulaire vide si on sélectionne autre chose après

    		$('#appbundle_kpi_filter_submit').attr('disabled','disabled');
    		$('#appbundle_kpi_filter_boutique').val(null);
    		$('#appbundle_kpi_filter_dr').val(null);
    		$('#appbundle_kpi_filter_vendeur').val(null);

    		$('#clients-filter').submit();
    	});
    	$(document).on('change', '#appbundle_kpi_filter_dr', function() {
    		$('#appbundle_kpi_filter_submit').attr('disabled','disabled');

    		if( $(this).val() == "" && $('#appbundle_kpi_filter_boutique').val() == "" ){
    			var user_id = $('#appbundle_kpi_filter_reseau').val();
    			console.log('dr reseau value');
    		}
    		else if( $(this).val() == "" && $('#appbundle_kpi_filter_boutique').val() != "" ){
    			var user_id = $('#appbundle_kpi_filter_boutique').val();
    			console.log('dr boutique value');
    		}
    		else{
    			console.log('dr value');
    			var user_id = $(this).val();
    		}
    		

    		$.get("/ajax_filter/{{user.id}}/"+user_id+"/mensuel/null/"+$('#appbundle_kpi_filter_month').val()+"/"+$('#appbundle_kpi_filter_year').val(), function( data ) {
			    $('#ajax_filter').html( data );
			});
			console.log(user_id);
    	});
    	$(document).on('change', '#appbundle_kpi_filter_boutique',function() {  
    		$('#appbundle_kpi_filter_submit').attr('disabled','disabled');

    		if( $(this).val() == "" && $('#appbundle_kpi_filter_dr').val() == "" ){
    			var user_id = $('#appbundle_kpi_filter_reseau').val();
    			console.log('boutique reseau value');
    		}
    		else if( $(this).val() == "" && $('#appbundle_kpi_filter_dr').val() != "" ){
    			var user_id = $('#appbundle_kpi_filter_dr').val();
    			console.log('boutique dr value');
    		}
    		else{
    			console.log('boutique value');
    			var user_id = $(this).val();
    		}

    		$.get("/ajax_filter/{{user.id}}/"+user_id+"/mensuel/null/"+$('#appbundle_kpi_filter_month').val()+"/"+$('#appbundle_kpi_filter_year').val(), function( data ) {
			    $('#ajax_filter').html( data );
			});
			console.log(user_id);
    	});
	});

	if ( {{currentKpi.nbreClientsContactablesEmailH}} > 10000) {
		var inactifs = "{{ roundLetter(currentKpi.nbreClientsInactifsEmailH) }}";
		var actifs = "{{ roundLetter(currentKpi.nbreClientsContactablesEmailH) }}";
	}
	else{
		var inactifs = "{{ currentKpi.nbreClientsInactifsEmailH|number_format(0, ',', '') }}";
		var actifs = "{{ currentKpi.nbreClientsContactablesEmailH|number_format(0, ',', '') }}";
	}

    CanvasJS.addColorSet("set1",
                [
                "#256dcc",
                "#44ccfe",              
                ]);
    CanvasJS.addColorSet("set2",
                [
                "#FFD819",             
                ]);
    CanvasJS.addColorSet("set3",
                [
                "#16a085",              
                ]);
    CanvasJS.addColorSet("set4",
                [
                "#E80C7A",              
                ]);
    CanvasJS.addCultureInfo("fr",{
        shortMonths: ["Jan", "Fev", "Mar", "Avr", "Mai", "Juin", "Juil", "Aou","Sep", "Oct", "Nov", "Dec"],
    });

	window.onload = function () {
		var chart = new CanvasJS.Chart("chartContainer1",
		{
			colorSet: "set1",
			data: [
			{
				startAngle: -90,  
				indexLabelFontColor: "white",
				indexLabelLineColor: "#4c4c4c",
				toolTipContent: "{indexLabel}",

				indexLabelPlacement: "inside",
				type: "pie",
				radius: "120%",
				dataPoints: [
					{  y: {{ currentKpi.nbreClientsContactablesEmailH }},  indexLabel: actifs,indexLabelFontWeight: "bold",indexLabelFontSize: 20 },
					{  y: {{ currentKpi.nbreClientsInactifsEmailH }},  indexLabel: inactifs,indexLabelFontWeight: "bold",indexLabelFontSize: 20 },
				]
			}
			]

		});

		chart.render();
		var chart = new CanvasJS.Chart("chartContainer2",
		{
			colorSet: "set2",
			animationEnabled: true,
			toolTip:{  
				enabled: false,
			},
			interactivityEnabled: false,
			data: [
			{
				startAngle: -90,  
				indexLabelFontColor: "white",
				indexLabelLineColor: "#4c4c4c",

				indexLabelPlacement: "inside",
				type: "pie",
				dataPoints: [
					{  y: {{ currentKpi.nbreClientsAnimesM0 }} },
				]
			}
			]

		});

		chart.render();
		var chart = new CanvasJS.Chart("chartContainer3",
		{
			colorSet: "set3",
			animationEnabled: true,
			toolTip:{  
				enabled: false,
			},
			interactivityEnabled: false,
			data: [
			{
				startAngle: -90,  
				indexLabelFontColor: "white",
				indexLabelLineColor: "#4c4c4c",

				indexLabelPlacement: "inside",
				type: "pie",
				dataPoints: [
					{  y: {{ currentKpi.nbreClientsTransformesM0 }} },
				]
			}
			]

		});
		chart.render();

		chart.render();
		var chart = new CanvasJS.Chart("chartContainer4",
		{
			colorSet: "set4",
			animationEnabled: true,
			toolTip:{  
				enabled: false,
				animationEnabled: false
			},
			interactivityEnabled: false,
			data: [
			{
				startAngle: -90,  
				indexLabelFontColor: "white",
				indexLabelLineColor: "#4c4c4c",

				indexLabelPlacement: "inside",
				type: "pie",
				dataPoints: [
					{  y: {{ currentKpi.caClientsTransformesM0 }} },
				]
			}
			]

		});
		chart.render();
	}
	</script>
{% endblock %}