{% extends "AppBundle::layout.html.twig" %}

{% block subheader %}
	{% include 'AppBundle:Commons:kpiNav.html.twig' %}
{% endblock %}

{% block content %}

	{% block clientsFilter %}
		{% include 'AppBundle:Commons:kpiFilter.html.twig' %}
	{% endblock %}


	<div class="text-center col-xs-12">
		<p>Les résultats ci-dessous sont mis à jour tous les mois</p>
	</div>

	<div id="ajax-content">

	{% if currentKpi.nbTransacM0 > 0 %}

	<div class="col-xs-12">
		<h2 class="text-uppercase gris-bg">{{ "La qualification de mes clients"|trans }}</h2>

		<div class="col-xs-12 kpi-box">

			{% if user_role != "ROLE_VENDEUR" and currentKpi.txTransacLinkedM0 > 0 %}
				<div class="inside col-xs-12 bordered-bottom">
					<h3 class="text-uppercase text-center gris">Identification des clients</h3>
						<p class="col-xs-12 text-center">
							<strong>{{ currentKpi.nbTransacM0|number_format(0, ',', ' ') }} Transactions enregistrées</strong>
						</p>
					<figure class="col-xs-12">
						<div id="chartContainer0" class="col-xs-12" style="height: 250px;"></div>
					<figcaption class="col-xs-12 col-md-4">
						<p class="small">
							&nbsp;<br />
							<i style="color: #53B3AD;" class="fa fa-square fa-lg" aria-hidden="true"></i><br />
							{{ "Transactions identifiées avec un nom & un prénom et avec au moins un moyen de contact valide et optin"|trans}}
						</p>
					</figcaption>

					<figcaption class="col-xs-12 col-md-4">
						<p class="small">
							&nbsp;<br />
							<i style="color: #F5F4F2;" class="fa fa-square fa-lg" aria-hidden="true"></i><br />
							{{ "Transactions identifiées avec un nom & un prénom sans moyen de contact"|trans}}
						</p>
					</figcaption>

					<figcaption class="col-xs-12 col-md-4">
						<p class="small">
							&nbsp;<br />
							<i style="color: #393845;" class="fa fa-square fa-lg" aria-hidden="true"></i><br />
							{{ "Transactions non liées (sans nom & prénom)"|trans}}
						</p>
					</figcaption>
					</figure>
				</div>
			{% endif %}

			<div class="inside col-xs-12 bordered-bottom">
				<h4 class="text-uppercase black text-center">Capture par canal{% if  currentKpi.txTransacLinkedM0 == 0 %}<br />{{ currentKpi.nbTransacM0|number_format(0, ',', ' ') }} Transactions enregistrées{% endif %}</h4>

				<figure class="col-xs-12 col-md-3">
					<h4 class="text-center bg-white black">Email<br />&nbsp;</h4>
					<div id="chartContainer1" style="height: 150px;"></div>
				</figure>
				<figure class="col-xs-12 col-md-3">
					<h4 class="text-center bg-white black">SMS<br />&nbsp;</h4>
					<div id="chartContainer2" style="height: 150px;"></div>
				</figure>
				<figure class="col-xs-12 col-md-3">
					<h4 class="text-center bg-white black">Adresse<br />&nbsp;</h4>
					<div id="chartContainer3" style="height: 150px;"></div>
				</figure>
				<figure class="col-xs-12 col-md-3">
					<h4 class="text-center bg-white black">Email ou SMS<br />&nbsp;</h4>
					<div id="chartContainer4" style="height: 150px;"></div>
				</figure>
				<figure class="col-xs-12 col-md-3">
					<figcaption>
						<p class="small">
							<i style="color: #93A603;" class="fa fa-square fa-lg" aria-hidden="true"></i>
							<i style="color: #05AFF2;" class="fa fa-square fa-lg" aria-hidden="true"></i>
							<i style="color: #F0948A;" class="fa fa-square fa-lg" aria-hidden="true"></i>
							<i style="color: #FFA118;" class="fa fa-square fa-lg" aria-hidden="true"></i><br />
							{{ "Taux de transactions avec des données valides et optin"|trans}}
						</p>
					</figcaption>
				</figure>
				<figure class="col-xs-12 col-md-3">
					<figcaption>
						<p class="small">
							<i style="color: #A9BF04;" class="fa fa-square fa-lg" aria-hidden="true"></i>
							<i style="color: #05C7F2;" class="fa fa-square fa-lg" aria-hidden="true"></i>
							<i style="color: #FFD9D8;" class="fa fa-square fa-lg" aria-hidden="true"></i>
							<i style="color: #FFD14A;" class="fa fa-square fa-lg" aria-hidden="true"></i><br />
							{{ "Taux de transactions avec des données valides et optout"|trans}}
						</p>
					</figcaption>
				</figure>
				<figure class="col-xs-12 col-md-3">
					<figcaption>
						<p class="small">
							<i style="color: #F5F4F2;" class="fa fa-square fa-lg" aria-hidden="true"></i><br />
							{{ "Taux de transactions avec des données non-collectées"|trans}}
						</p>
					</figcaption>
				</figure>
				<figure class="col-xs-12 col-md-3">
					<figcaption>
						<p class="small">
							<i style="color: #393845;" class="fa fa-square fa-lg" aria-hidden="true"></i><br />
							{{ "Taux de transactions avec des données non-valides"|trans}}
						</p>
					</figcaption>
				</figure>
			</div>


			<div class="inside col-xs-12">
				<h4 class="text-uppercase black text-center">{{ "Evolution mensuelle des indicateurs de collecte"|trans }}</h4>

				<figure class="col-xs-12 col-md-8 col-md-offset-2">
					<div id="chartContainer5" class="col-xs-12" style="height: 194px;"></div>
				</figure>

				<figure class="col-xs-12">
					<figcaption class="col-xs-12 col-md-3">
						<p class="small">
							&nbsp;<br />
							<i style="color: #93A603;" class="fa fa-square fa-lg" aria-hidden="true"></i><br />
							{{ "Taux de transactions avec des emails valides et optin"|trans}}
						</p>
					</figcaption>
					<figcaption class="col-xs-12 col-md-3">
						<p class="small">
							&nbsp;<br />
							<i style="color: #05AFF2;" class="fa fa-square fa-lg" aria-hidden="true"></i><br />
							{{ "Taux de transactions avec des SMS valides et optin"|trans}}
						</p>
					</figcaption>
					<figcaption class="col-xs-12 col-md-3">
						<p class="small">
							&nbsp;<br />
							<i style="color: #F0948A;" class="fa fa-square fa-lg" aria-hidden="true"></i><br />
							{{ "Taux de transactions avec des adresses valides et optin"|trans}}
						</p>
					</figcaption>
					<figcaption class="col-xs-12 col-md-3">
						<p class="small">
							&nbsp;<br />
							<i style="color: #FFA118;" class="fa fa-square fa-lg" aria-hidden="true"></i><br />
							{{ "Taux de transactions avec des emails ou SMS valides et optin"|trans}}
						</p>
					</figcaption>
					<figcaption class="col-xs-12 col-md-3">
						<p class="small">
							&nbsp;<br />
							<i style="color: #53B3AD;" class="fa fa-square fa-lg" aria-hidden="true"></i><br />
							{{ "Taux de transactions avec des emails ou SMS ou adresses valides et optin"|trans}}
						</p>
					</figcaption>
				</figure>
				<div class="spacer"></div>
				<div class="col-xs-12 text-center">
					<a target="_blank" href="{{ path('app_kpi_faq', { 'user_actuel' : userId, 'user_id' : user.id } ) }}" class="small" style="color:#666; text-decoration:underline;">
			    		{{"Définitions et règles de calcul dans l'onglet FAQ"|trans}}
			    	</a>
				</div>
			</div>
		</div>

	</div>

	{% else %}
		<div class="col-xs-12">
			<h2 class="text-uppercase gris-bg text-center">Aucune transactions pour la date demandée</h2>
		</div>
	{% endif %}

	<div class="spacer" style="margin-bottom:0px;"></div>

	{% if user_role != "ROLE_VENDEUR" %}
		<div class="col-xs-12">
			{% if user_role == "ROLE_MARQUE" %}
				<h2 class="text-uppercase gris-bg">Performances des DR du réseau {{user.username}}</h2>
			{% elseif user_role == "ROLE_DR" %}
				<h2 class="text-uppercase gris-bg">Performances des Boutiques du DR {{user.username}}</h2>
			{% elseif user_role == "ROLE_BOUTIQUE" %}
				<h2 class="text-uppercase gris-bg">Performances des Vendeurs de la Boutique {{user.username}}</h2>
			{% endif %}
			<div class="col-xs-12 kpi-box">
				<table class="table table-bordered table-hover" style="margin-bottom:0;">
					<thead>
						<tr>
							<th class=""></th>
							<th class=" text-center text-uppercase">Nombre de transactions</th>
							<th class=" text-center text-uppercase">Taux de transactions liées</th>
							<th class=" text-center text-uppercase">Taux de transactions liées valides et optin</th>
							<th class=" text-center text-uppercase">Capture email valides et optin</th>
							<th class=" text-center text-uppercase">Capture SMS valides et optin</th>
							<th class=" text-center text-uppercase">Capture adresses valides et optin</th>
							<th class=" text-center text-uppercase">Capture email ou SMS valide et optin</th>
						</tr>
					</thead>
					<tbody>
						<tr class="info">
							<th class="text-right text-uppercase" style="color: #3399FF">Résultats du réseau</th>
							<td class="text-center">{{marque.nbTransacM0|number_format(0, ',', ' ') }}</td>
							<td class="text-center">{{ marque.txTransacLinkedM0|number_format}} %</td>
							<td class="text-center">{{ marque.txTransacLinkedOptinM0|number_format}} %</td>
							<td class="text-center">{{ marque.txTransacNpeiM0|number_format}} %</td>
							<td class="text-center">{{ marque.txTransacNpsiM0|number_format}} %</td>
							<td class="text-center">{{ marque.txTransacNpaiM0|number_format}} %</td>
							<td class="text-center">{{ marque.txTransacNpesi2M0|number_format}} %</td>
						</tr>
						{% if user_role == "ROLE_MARQUE" %}
							{% for boutique in getDrsMarque %}
								{% set keyloop = loop.index %}
								{% if getDrsMarque is not null %}
									<tr>
										<th class="text-right text-uppercase"><i class="fa fa-plus-circle" aria-hidden="true" data="boutiques_{{keyloop}}" style="cursor:pointer;"></i>&nbsp;&nbsp;<a target="_blank" href="{{ path('app_kpi_month', { 'user_actuel' : userId, 'user_id' : boutique.user.id } ) }}">{{boutique.user.username}}</a></th>
										<td class="text-center">{{ boutique.nbTransacM0|number_format(0, ',', ' ') }}</td>
										<td class="text-center">{{ boutique.txTransacLinkedM0|number_format}} %</td>
										<td class="text-center">{{ boutique.txTransacLinkedOptinM0|number_format}} %</td>
										<td class="text-center">{{ boutique.txTransacNpeiM0|number_format}} %</td>
										<td class="text-center">{{ boutique.txTransacNpsiM0|number_format}} %</td>
										<td class="text-center">{{ boutique.txTransacNpaiM0|number_format}} %</td>
										<td class="text-center">{{ boutique.txTransacNpesi2M0|number_format}} %</td>
									</tr>
								{% endif %}
								{% for boutique2 in getBoutiquesDr %}
									<tbody class="boutiques_{{keyloop}}" style="display:none;">
									{% for boutique3 in boutique2 %}
										{% if boutique3.user.dr == boutique.user.username %}
											<tr>
												<th class="text-right text-uppercase small"><a target="_blank" href="{{ path('app_kpi_month', { 'user_actuel' : userId, 'user_id' : boutique3.user.id } ) }}">{{boutique3.user.username}}</a></th>
												<td class="text-center">{{ boutique3.nbTransacM0|number_format(0, ',', ' ') }}</td>
												<td class="text-center">{{ boutique3.txTransacLinkedM0|number_format}} %</td>
												<td class="text-center">{{ boutique3.txTransacLinkedOptinM0|number_format}} %</td>
												<td class="text-center">{{ boutique3.txTransacNpeiM0|number_format}} %</td>
												<td class="text-center">{{ boutique3.txTransacNpsiM0|number_format}} %</td>
												<td class="text-center">{{ boutique3.txTransacNpaiM0|number_format}} %</td>
												<td class="text-center">{{ boutique3.txTransacNpesi2M0|number_format}} %</td>
											</tr>
										{% endif %}
									{% endfor %}
									</tbody>
								{% endfor %}
							{% endfor %}
						{% elseif user_role == "ROLE_DR" %}
							{% for boutique in getBoutiquesDr %}
								{% set keyloop = loop.index %}
								{% if getBoutiquesDr is not null and boutique.nbTransacYtd > 0 %}
									<tr>
										<th class="text-right text-uppercase"><i class="fa fa-plus-circle" aria-hidden="true" data="boutiques_{{keyloop}}" style="cursor:pointer;"></i>&nbsp;&nbsp;<a target="_blank" href="{{ path('app_kpi_month', { 'user_actuel' : userId, 'user_id' : boutique.user.id } ) }}">{{boutique.user.username}}</a></th>
										<td class="text-center">{{ boutique.nbTransacM0|number_format(0, ',', ' ') }}</td>
										<td class="text-center">{{ boutique.txTransacLinkedM0|number_format}} %</td>
										<td class="text-center">{{ boutique.txTransacLinkedOptinM0|number_format}} %</td>
										<td class="text-center">{{ boutique.txTransacNpeiM0|number_format}} %</td>
										<td class="text-center">{{ boutique.txTransacNpsiM0|number_format}} %</td>
										<td class="text-center">{{ boutique.txTransacNpaiM0|number_format}} %</td>
										<td class="text-center">{{ boutique.txTransacNpesi2M0|number_format}} %</td>
									</tr>
								{% endif %}
								{% for boutique2 in getVendeursBoutique %}
									<tbody class="boutiques_{{keyloop}}" style="display:none;">
									{% for boutique3 in boutique2 %}
										{% if boutique3.user.boutique == boutique.user.username %}
											<tr>
												<th class="text-right text-uppercase small"><a target="_blank" href="{{ path('app_kpi_month', { 'user_actuel' : userId, 'user_id' : boutique3.user.id } ) }}">{{boutique3.user.nameAndSurname}}</a></th>
												<td class="text-center">{{ boutique3.nbTransacM0|number_format(0, ',', ' ') }}</td>
												<td class="text-center">{{ boutique3.txTransacLinkedM0|number_format}} %</td>
												<td class="text-center">{{ boutique3.txTransacLinkedOptinM0|number_format}} %</td>
												<td class="text-center">{{ boutique3.txTransacNpeiM0|number_format}} %</td>
												<td class="text-center">{{ boutique3.txTransacNpsiM0|number_format}} %</td>
												<td class="text-center">{{ boutique3.txTransacNpaiM0|number_format}} %</td>
												<td class="text-center">{{ boutique3.txTransacNpesi2M0|number_format}} %</td>
											</tr>
										{% endif %}
									{% endfor %}
									</tbody>
								{% endfor %}
							{% endfor %}
						{% elseif user_role == "ROLE_BOUTIQUE" %}
							{% for boutique in getVendeursBoutique %}
								{% if getVendeursBoutique is not null and boutique.nbTransacYtd > 0 %}
									<tr>
										<th class="text-right text-uppercase"><a target="_blank" href="{{ path('app_kpi_month', { 'user_actuel' : userId, 'user_id' : boutique.user.id } ) }}">{{boutique.user.nameAndSurname}}</a></th>
										<td class="text-center">{{ boutique.nbTransacM0|number_format(0, ',', ' ') }}</td>
										<td class="text-center">{{ boutique.txTransacLinkedM0|number_format}} %</td>
										<td class="text-center">{{ boutique.txTransacLinkedOptinM0|number_format}} %</td>
										<td class="text-center">{{ boutique.txTransacNpeiM0|number_format}} %</td>
										<td class="text-center">{{ boutique.txTransacNpsiM0|number_format}} %</td>
										<td class="text-center">{{ boutique.txTransacNpaiM0|number_format}} %</td>
										<td class="text-center">{{ boutique.txTransacNpesi2M0|number_format}} %</td>
									</tr>
								{% endif %}
							{% endfor %}
						{% endif %}
					</tbody>
				</table>
			</div>
		</div>
	{% endif %}



	<div class="spacer" style="margin-bottom:0px;"></div>

	<div class="col-xs-12">

		{% if user_role != "ROLE_VENDEUR" %}
			<h2 class="text-uppercase gris-bg">Le top boutique {{ user.brand }}</h2>
			<div class="col-xs-12 kpi-box">
				<div class="inside">
					<div class="inside top col-xs-4 text-center">
						<h3 class="black">#1 Email</h3>
						<div class="dark-box">
							<h3>{{ deleteFirstCharacters(topNpe.user.username,4)|upper }}</h3>
							<p class="small white">{{ topNpe.txTransacNpeM0|number_format(0, ',', ' ') }} % {{ "de transactions"|trans }}<br /> {{ "Emails valides"|trans }}</p>
						</div>
					</div>
					<div class="inside top col-xs-4 text-center">
						<h3 class="black">#1 Email + SMS</h3>
						<div class="dark-box">
							<h3>{{ deleteFirstCharacters(topNpes.user.username, 4)|upper }}</h3>
							<p class="small white">{{ topNpes.txTransacNpesM0|number_format(0, ',', ' ') }} % {{ "de transactions"|trans }}<br /> {{ "Emails + SMS valides"|trans }}</p>
						</div>
					</div>
					<div class="inside top col-xs-4 text-center">
						<h3 class="black">#1 Email + SMS + Adresse</h3>
						<div class="dark-box">
							<h3>{{ deleteFirstCharacters(topNpesa.user.username,4)|upper }}</h3>
							<p class="small white">{{ topNpesa.txTransacNpesaM0|number_format(0, ',', ' ') }} % {{ "de transactions"|trans }}<br /> {{ "Emails + SMS + Adresses valides"|trans }}</p>
						</div>
					</div>
					<div style="height:0px;" class="spacer"></div>
				</div>
			</div>
		{% else %}
			<h2 class="text-uppercase gris-bg">Le top Vendeur {{ user.brand }}</h2>
			<div class="col-xs-12 kpi-box">
				<div class="inside">
					<div class="inside top col-xs-4 text-center">
						<h3 class="black">#1 Email</h3>
						<div class="dark-box">
							<h3>{{ topNpeVendeur.user.nameAndSurname|upper }}</h3>
							<p class="small white">{{ topNpeVendeur.txTransacNpeM0|number_format(0, ',', ' ') }} % {{ "de transactions"|trans }}<br /> {{ "Emails valides"|trans }}</p>
						</div>
					</div>
					<div class="inside top col-xs-4 text-center">
						<h3 class="black">#1 Email + SMS</h3>
						<div class="dark-box">
							<h3>{{ topNpesVendeur.user.nameAndSurname|upper }}</h3>
							<p class="small white">{{ topNpesVendeur.txTransacNpesM0|number_format(0, ',', ' ') }} % {{ "de transactions"|trans }}<br /> {{ "Emails + SMS valides"|trans }}</p>
						</div>
					</div>
					<div class="inside top col-xs-4 text-center">
						<h3 class="black">#1 Email + SMS + Adresse</h3>
						<div class="dark-box">
							<h3>{{ topNpesaVendeur.user.nameAndSurname|upper }}</h3>
							<p class="small white">{{ topNpesaVendeur.txTransacNpesaM0|number_format(0, ',', ' ') }} % {{ "de transactions"|trans }}<br /> {{ "Emails + SMS + Adresses valides"|trans }}</p>
						</div>
					</div>
					<div style="height:0px;" class="spacer"></div>
				</div>
			</div>
		{% endif %}
	</div>
	</div>

	<div style="height:30px;" class="spacer"></div>

{% endblock %}

{% block canvasJs %}

	<script type="text/javascript">

	$(function(){

		$(document).on('change', '#appbundle_kpi_filter_month', function() {
    		$('#clients-filter').submit();
    		$('#spinner').show();
    	});
    	$(document).on('change', '#appbundle_kpi_filter_year', function() {
    		$('#clients-filter').submit();
    		$('#spinner').show();
    	});


    	$(document).on('click', '.fa-plus-circle', function() {
    		$(this).removeClass('fa-plus-circle');
    		$(this).addClass('fa-minus-circle');

    		var id = $(this).attr('data');
    		//$('.'+id).removeClass('hidden');
    		$('.'+id).show();
    	});


    	$(document).on('click', '.fa-minus-circle', function() {
    		$(this).removeClass('fa-minus-circle');
    		$(this).addClass('fa-plus-circle');

    		var id = $(this).attr('data');
    		//$('.'+id).addClass('hidden');
    		$('.'+id).hide();
    	});

    	$(document).on('change', '#appbundle_kpi_filter_reseau', function() {
    		// Ici on réinitialise la page au niveau Marque au changement
    		//pour éviter le bug d'envoie de formulaire vide si on sélectionne autre chose après

    		$('#appbundle_kpi_filter_submit').attr('disabled','disabled');
    		$('#appbundle_kpi_filter_boutique').val(null).prop('disabled',true);
    		$('#appbundle_kpi_filter_dr').val(null).prop('disabled',true);
    		$('#appbundle_kpi_filter_vendeur').val(null).prop('disabled',true);

    		$('#clients-filter').submit();
    		$('#spinner').show();
    	});
    	$(document).on('change', '#appbundle_kpi_filter_dr', function() {
    		$('#appbundle_kpi_filter_submit').attr('disabled','disabled');
    		$('#appbundle_kpi_filter_boutique').val(null).prop('disabled',true);
    		$('#appbundle_kpi_filter_vendeur').val(null).prop('disabled',true);

    		/*if( $(this).val() == "" && $('#appbundle_kpi_filter_boutique').val() == "" ){
    			var user_id = $('#appbundle_kpi_filter_reseau').val();
    		}
    		else if( $(this).val() == "" && $('#appbundle_kpi_filter_boutique').val() != "" ){
    			var user_id = $('#appbundle_kpi_filter_boutique').val();
    		}
    		else{
    			var user_id = $(this).val();
    		}*/

    		// Ajax pour changer le formulaire
    		/*$.get("/ajax_filter/{{user.id}}/"+user_id+"/mensuel/null/"+$('#appbundle_kpi_filter_month').val()+"/"+$('#appbundle_kpi_filter_year').val(), function( data ) {
			    $('#ajax_filter').html( data );
			});*/

			$('#clients-filter').submit();
			$('#spinner').show();
    	});
    	$(document).on('change', '#appbundle_kpi_filter_boutique',function() {
    		$('#appbundle_kpi_filter_submit').attr('disabled','disabled');
    		$('#appbundle_kpi_filter_dr').prop('disabled',true);
    		$('#appbundle_kpi_filter_vendeur').val(null).prop('disabled',true);

    		/*if( $(this).val() == "" && $('#appbundle_kpi_filter_dr').val() == "" ){
    			var user_id = $('#appbundle_kpi_filter_reseau').val();
    		}
    		else if( $(this).val() == "" && $('#appbundle_kpi_filter_dr').val() != "" ){
    			var user_id = $('#appbundle_kpi_filter_dr').val();
    		}
    		else{
    			var user_id = $(this).val();
    		}*/

    		/*$.get("/ajax_filter/{{user.id}}/"+user_id+"/mensuel/null/"+$('#appbundle_kpi_filter_month').val()+"/"+$('#appbundle_kpi_filter_year').val(), function( data ) {
			    $('#ajax_filter').html( data );
			});*/

			$('#clients-filter').submit();
			$('#spinner').show();
    	});

    	$(document).on('change', '#appbundle_kpi_filter_vendeur',function() {
    		$('#appbundle_kpi_filter_submit').attr('disabled','disabled');
    		$('#appbundle_kpi_filter_boutique').prop('disabled',true);
    		$('#appbundle_kpi_filter_dr').prop('disabled',true);

    		/*if( $(this).val() == "" && $('#appbundle_kpi_filter_dr').val() == "" ){
    			var user_id = $('#appbundle_kpi_filter_reseau').val();
    		}
    		else if( $(this).val() == "" && $('#appbundle_kpi_filter_dr').val() != "" ){
    			var user_id = $('#appbundle_kpi_filter_dr').val();
    		}
    		else{
    			var user_id = $(this).val();
    		}*/

			$('#clients-filter').submit();
			$('#spinner').show();
    	});
	});


	var date = new Date({{ currentKpi.date|date("Y") }}, {{ currentKpi.date|date("m") - 1 }});
	var month = date.getMonth();
	var year  = date.getFullYear();

	var startDate = new Date( year , month - 12)
	var endDate = new Date( year, month +1 );

	var dataToBeC1 = {{ 100 - currentKpi.txTransacNpeM0|number_format - currentKpi.txTransacNveM0|number_format }};
	var dataToBeC2 = {{ 100 - currentKpi.txTransacNpsM0|number_format - currentKpi.txTransacNvsM0|number_format }};
	var dataToBeC3 = {{ 100 - currentKpi.txTransacNpaM0|number_format - currentKpi.txTransacNvaM0|number_format }};
	var dataToBeC4 = {{ 100 - currentKpi.txTransacNpes2M0|number_format - currentKpi.txTransacNves2M0|number_format }};

	if (dataToBeC1 < 0) dataToBeC1 = 0;
	if (dataToBeC2 < 0) dataToBeC2 = 0;
	if (dataToBeC3 < 0) dataToBeC3 = 0;

    CanvasJS.addColorSet("set1",
		[
		"#93A603",
		"#A9BF04",
		"#F5F4F2",
		"#393845",
		]);
		CanvasJS.addColorSet("set2",
		[
		"#05AFF2",
		"#05C7F2",
		"#F5F4F2",
		"#393845",
		]);
		CanvasJS.addColorSet("set3",
		[
		"#F0948A",
		"#FFD9D8",
		"#F5F4F2",
		"#393845",
		]);
		CanvasJS.addColorSet("set4",
		[
		"#FFA118",
		"#FFD14A",
		"#F5F4F2",
		"#393845",
		]);
		CanvasJS.addColorSet("set5",
		[
		"#53B3AD",
		"#F5F4F2",
		"#393845",
		]);
		CanvasJS.addColorSet("set0",
		[
		"#93A603",
		"#05AFF2",
		'#F0948A',
		"#FFA118",
		"#53B3AD",

		]);
    CanvasJS.addCultureInfo("fr",{
        shortMonths: ["Jan", "Fev", "Mars", "Avril", "Mai", "Juin", "Juil", "Août","Sept", "Oct", "Nov", "Déc"],
    });

	window.onload = function () {


		if({{currentKpi.txTransacLinkedM0}} > 0){

			{% if user_role != "ROLE_VENDEUR" %}
			var chart = new CanvasJS.Chart("chartContainer0",
			{
				colorSet: "set5",
				animationEnabled: true,
				toolTip:{
					enabled: true
				},
				legend:{
						verticalAlign: "center",
						horizontalAlign: "left",
						fontSize: 16 ,
						fontFamily: "Arial"
					},
				data: [
				{
					startAngle: -90,
					indexLabelPlacement: "inside",
					indexLabelFontColor: "white",
					indexLabelFontWeight: "bold",
					indexLabelFontSize: 18,
					explodeOnClick: false,
					highlightEnabled: false,
					showInLegend: false,

					type: "pie",
					dataPoints: [
						{  y: {{ (currentKpi.txTransacLinkedOptinM0)|number_format('0','.','') }},
							indexLabel: 	"{y}%",
							toolTipContent: "{y}%",
							exploded: false,
							legendText:"{y}% Transactions identifiées avec un nom & un prénom et avec au moins un moyen de contact valide et optin",
							label: "{y}% Transactions identifiées avec un nom & un prénom"},
						{  y: {{ (currentKpi.txTransacLinkedOptoutM0)|number_format('0','.','') }},
							indexLabel: 	"{y}%",
							toolTipContent: "{y}%",
							exploded: false,
							indexLabelFontColor: "#333333",
							legendText:"{y}% Transactions identifiées avec un nom & un prénom sans moyen de contact",
							label: "{y}% Transactions identifiées avec un nom & un prénom"},
						{  y: {{ ((100 - currentKpi.txTransacLinkedM0))|number_format('0','.','') }},
							indexLabel: 	"{y}%",
							toolTipContent: "{y}%",
							exploded: false,
							legendText:"{y}% Transactions non liées (sans nom & prénom)",
							label: "{y}% Transactions non liées (sans nom & prénom)"},
					]
				}
				]

			});
			chart.render();
			{% endif %}
		}

		var chart = new CanvasJS.Chart("chartContainer1",
		{
			colorSet: "set1",
			animationEnabled: true,
			title:{
				text: {{ currentKpi.txTransacNpeiM0|number_format }} + "%",
				fontSize: 32,
				verticalAlign: "center", // "top", "center", "bottom"
				horizontalAlign: "center", // "left", "right", "center"
				fontColor: "#333333",
			},
			toolTip:{
			enabled: true
			},
			data: [
			{
				startAngle: -90,
				indexLabelFontColor: "black",
				indexLabelLineColor: "#4c4c4c",
				indexLabelPlacement: "inside",
				type: "doughnut",
				innerRadius: "70%",
				dataPoints: [
					{  y: {{ currentKpi.txTransacNpeiM0|number_format }}, toolTipContent: "Qualification email optin {y}%"},
					{  y: {{ currentKpi.txTransacNpeoM0|number_format }}, toolTipContent: "Qualification email optout {y}%"},
					{  y: dataToBeC1, indexLabel: "", indexLabelFontWeight: "bold", indexLabelFontColor: "white", indexLabelFontSize: 12, toolTipContent: "Données non collectées : {y}%"},
					{  y: {{ currentKpi.txTransacNveM0|number_format }}, indexLabel: "", indexLabelFontWeight: "bold", indexLabelFontColor: "black", indexLabelFontSize: 8, toolTipContent: "Données non-valides : {y}%"}
				]
			}
			]

		});

		chart.render();
		var chart = new CanvasJS.Chart("chartContainer2",
		{
			colorSet: "set2",
			animationEnabled: true,
			title:{
				text: {{ currentKpi.txTransacNpsiM0|number_format }} + "%",
				fontSize: 32,
				verticalAlign: "center", // "top", "center", "bottom"
				horizontalAlign: "center", // "left", "right", "center"
				fontColor: "#333333",
			},
			toolTip:{
				enabled: true
			},
			data: [
			{
				startAngle: -90,
				indexLabelFontColor: "black",
				indexLabelLineColor: "#4c4c4c",

				indexLabelPlacement: "inside",
				type: "doughnut",
				innerRadius: "70%",
				dataPoints: [
					{  y: {{ currentKpi.txTransacNpsiM0|number_format }}, indexLabel: "", indexLabelFontWeight: "bold", toolTipContent: "Qualification sms optin {y}%"},
					{  y: {{ currentKpi.txTransacNpsoM0|number_format }}, indexLabel: "", indexLabelFontWeight: "bold", toolTipContent: "Qualification sms optout {y}%"},
					{  y: dataToBeC2, indexLabel: "", indexLabelFontSize: 12,indexLabelFontColor: "white",indexLabelFontWeight: "bold",toolTipContent: "Données non collectées : {y}%"},
					{  y: {{ currentKpi.txTransacNvesM0|number_format }}, indexLabel: "", indexLabelFontWeight: "bold", indexLabelFontColor: "black", indexLabelFontSize: 10, toolTipContent: "Données non-valides : {y}%"}
				]
			}
			]

		});

		chart.render();
		var chart = new CanvasJS.Chart("chartContainer3",
		{
			colorSet: "set3",
			animationEnabled: true,
			title:{
				text: {{ currentKpi.txTransacNpaiM0|number_format }} + "%",
				fontSize: 32,
				verticalAlign: "center", // "top", "center", "bottom"
				horizontalAlign: "center", // "left", "right", "center"
				fontColor: "#333333",
			},
			toolTip:{
				enabled: true
			},
			data: [
			{
				startAngle: -90,
				indexLabelFontColor: "black",
				indexLabelLineColor: "#4c4c4c",

				indexLabelPlacement: "inside",
				type: "doughnut",
				innerRadius: "70%",
				dataPoints: [
					{  y: {{ currentKpi.txTransacNpaiM0|number_format }}, indexLabel: "",indexLabelFontSize: 12, indexLabelFontWeight: "bold", toolTipContent: "Qualification adresse optin : {y}%"},
					{  y: {{ currentKpi.txTransacNpaoM0|number_format }}, indexLabel: "",indexLabelFontSize: 12, indexLabelFontWeight: "bold", toolTipContent: "Qualification adresse optout : {y}%"},
					{  y: dataToBeC3, indexLabel: "",indexLabelFontSize: 12,indexLabelFontColor: "white", indexLabelFontWeight: "bold",toolTipContent: "Données non collectées : {y}%"},
					{  y: {{ currentKpi.txTransacNvaM0|number_format }}, indexLabel: "", indexLabelFontWeight: "bold", indexLabelFontColor: "black", indexLabelFontSize: 10, toolTipContent: "Données non-valides : {y}%"}
				]
			}
			]

		});

		chart.render();var chart = new CanvasJS.Chart("chartContainer4",
		{
			colorSet: "set4",
			animationEnabled: true,
			title:{
				text: {{ currentKpi.txTransacNpesi2M0|number_format }} + "%",
				fontSize: 32,
				verticalAlign: "center", // "top", "center", "bottom"
				horizontalAlign: "center", // "left", "right", "center"
				fontColor: "#333333",
			},
			toolTip:{
				enabled: true
			},
			data: [
			{
				startAngle: -90,
				indexLabelFontColor: "black",
				indexLabelLineColor: "#4c4c4c",

				indexLabelPlacement: "inside",
				type: "doughnut",
				innerRadius: "70%",
				dataPoints: [
					{  y: {{ currentKpi.txTransacNpesi2M0|number_format }}, indexLabel: "",indexLabelFontSize: 12, indexLabelFontWeight: "bold", toolTipContent: "Qualification email ou sms optin : {y}%"},
					{  y: {{ currentKpi.txTransacNpeso2M0|number_format }}, indexLabel: "",indexLabelFontSize: 12, indexLabelFontWeight: "bold", toolTipContent: "Qualification email ou sms optout : {y}%"},
					{  y: dataToBeC4, indexLabel: "",indexLabelFontSize: 12,indexLabelFontColor: "white", indexLabelFontWeight: "bold",toolTipContent: "Données non collectées : {y}%"},
					{  y: {{ currentKpi.txTransacNves2M0|number_format }}, indexLabel: "", indexLabelFontWeight: "bold", indexLabelFontColor: "black", indexLabelFontSize: 10, toolTipContent: "Données non-valides : {y}%"}
				]
			}
			]

		});

		chart.render();
		var chart = new CanvasJS.Chart("chartContainer5",
		{
			culture:  "fr",
			colorSet: "set0",
			animationEnabled: true,
			toolTip:{
				enabled: true,
				shared: true,
				content: "<span style='\"'color: {color}'\"'>{name}</span> : {y}%"
			},axisY: {
				suffix: " %",
				labelFontSize: 14
			},
			axisX:{
		        interval: 1,
		        intervalType: "month",
		        minimum : startDate,
		        maximum : endDate,
		        valueFormatString: "MMM",
		        labelFontSize: 13,
		        labelAngle: -45
		    },
			data: [
				{
					xValueType: "dateTime",
					indexLabelFontColor: "black",
					indexLabelLineColor: "#4c4c4c",
					markerSize: 10,
					name: "Qualification Email",
					indexLabelPlacement: "inside",
					type: "line",
					dataPoints: [
						{% for kpi in kpis %}
							{ y: {{ kpi.txTransacNpeiM0|number_format }}, x: new Date( {{ kpi.date|date("Y") }}, {{ kpi.date|date("m") - 1 }} ) },
						{% endfor %}
					]
				},
				{
					indexLabelFontColor: "black",
					indexLabelLineColor: "#4c4c4c",
					markerSize: 10,
					name: "Qualification SMS",
					indexLabelPlacement: "inside",
					type: "line",
					dataPoints: [
						{% for kpi in kpis %}
							{ y: {{ kpi.txTransacNpsiM0|number_format }}, x: new Date( {{ kpi.date|date("Y") }}, {{ kpi.date|date("m") - 1 }} ) },
						{% endfor %}
					]
				},
				{
					indexLabelFontColor: "black",
					indexLabelLineColor: "#4c4c4c",
					markerSize: 10,
					name: "Qualification Adresse",
					indexLabelPlacement: "inside",
					type: "line",
					dataPoints: [
						{% for kpi in kpis %}
							{ y: {{ kpi.txTransacNpaiM0|number_format }}, x: new Date( {{ kpi.date|date("Y") }}, {{ kpi.date|date("m") - 1 }} ) },
						{% endfor %}
					]
				},
				{
					indexLabelFontColor: "black",
					indexLabelLineColor: "#4c4c4c",
					markerSize: 10,
					name: "Qualification Email ou SMS",
					indexLabelPlacement: "inside",
					type: "line",
					dataPoints: [
						{% for kpi in kpis %}
							{ y: {{ kpi.txTransacNpesi2M0|number_format }}, x: new Date( {{ kpi.date|date("Y") }}, {{ kpi.date|date("m") - 1 }} ) },
						{% endfor %}
					]
				},
				{
					indexLabelFontColor: "black",
					indexLabelLineColor: "#4c4c4c",
					markerSize: 10,
					name: "Qualification Email ou SMS ou Adresse",
					indexLabelPlacement: "inside",
					type: "line",
					dataPoints: [
						{% for kpi in kpis %}
							{ y: {{ kpi.txTransacNpesai2M0|number_format }}, x: new Date( {{ kpi.date|date("Y") }}, {{ kpi.date|date("m") - 1 }} ) },
						{% endfor %}
					]
				},

			]

		});

		chart.render();
	}
	</script>
{% endblock %}
